.other-videos-wrapper {

	& > div {
		vertical-align: top;
		padding: 10px;
		transition: background .2s ease-out;

		@media screen and (min-width: 768px) {
			display: inline-block;
			width: 33.3%;
		}

		&:hover {
			cursor: pointer;
			background: #ccc;
		}
	}
}